<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>More ..</title>
</head>
<body>
    <h1>More Page</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, nisi quas quae necessitatibus dolore explicabo officia error harum dolores quis id unde possimus delectus aliquam voluptatibus labore alias distinctio laudantium dicta voluptatem quos est! Commodi ut nulla eaque hic quo magnam porro optio, animi, voluptas quis officia temporibus, doloribus necessitatibus.</P>

    <a href="{{ url_for('index') }}">Back Home!</a>
</body>
</html>