
{% extends 'html_layout.html' %}

{% block title %}Risk and Prevention{% endblock title %}

{% block img %}
<img src="{{ url_for('static', filename='credentials.png')}}" alt="">
{% endblock img %}

{% block main %}
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quidem at aliquam temporibus atque distinctio ipsa quasi officiis dignissimos consectetur, rem quis fugiat quos laboriosam numquam consequatur sequi, veniam earum harum itaque! Nobis dicta accusamus pariatur delectus unde quisquam aperiam assumenda, velit deserunt minus, error, dolorum eos. Autem, esse et? 
</p>
{% endblock main %}
